@import url('https://fonts.googleapis.com/css?family=Lato') ;

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

* {
  outline: 1px dotted yellow;
}

.header {
  background-color: #2d303a;
  height: 90px;
  border-bottom: 6px solid #323746;
}

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.logo {
  float: left;
  font-size: 1.4rem;
  margin-top: 35px;
}

.links {
  float: right;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #494e62;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.salmon {
  color: #f16C65;
}

.banner {
  background-color: #f16c65;
  text-align: center;
  padding: 50px 0;
}

.banner img {
  width: 100%;
  max-width: 960px;
}

.page1 {
  height: 500px;
}

.services {
  width: 965px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.title {
  color: #666d89;
  font-size: 0.95rem;
  font-weight: bold;
}

.paragraph {
  color: #767e9e;
  font-size: 1.1rem;
}

.columns {
  width: 965px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.leftcolumn {
  width: 320px;
  height: 230px;
  float: left;
}

.left_top {
  width: 320px;
}

.icon1 {
  width: 75px;
  float: left;
}

.heading1 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info1 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.left_bottom {
  float: left;
  width: 320px;
  margin-top: 30px;
}

.icon2 {
  width: 75px;
  float: left;
}

.heading2 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info2 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.middlecolumn {
  float: left;
  width: 320px;
  height: 230px;

}

.middle_top {
  width: 320px;
}

.icon3 {
  width: 75px;
  float: left;
}

.heading3 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info3 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.middle_bottom {
  float: left;
  width: 320px;
  margin-top: 30px;
}

.icon4 {
  width: 75px;
  float: left;
}

.heading4 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info4 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.rightcolumn {
  float: left;
  width: 320px;
  height: 230px;
}

.right_top {
  width: 320px;
}

.icon5 {
  width: 75px;
  float: left;
}

.heading5 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info5 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.right_bottom {
  float: left;
  width: 320px;
  margin-top: 30px;
}

.icon6 {
  width: 75px;
  float: left;
}

.heading6 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #666d89;
  font-size: 1.15rem;
  font-weight: bold;
}

.info6 {
  width: 225px;
  float: left;
  margin-left: 20px;
  color: #767e9e;
  font-size: 0.85rem;
}

.portfolio {
  background-color: #2d303a;
}

.portfolio_contents {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio_title {
  color: #666d89;
  font-size: 0.95rem;
  font-weight: bold;
  padding-top: 60px;
}

.portfolio_info {
  color: #666d89;
  font-size: 1.1rem;
  margin-top: 25px;
}

.buttons {
  margin-top: 10px;
  font-size: 0.75rem;
  color: #666d89;

}

.buttons a {
  color: #666d89;
  text-decoration: none;
  padding: 0 10px;
  border: 2px solid #666d89;
  border-radius: 10px;
  margin: 0 10px;
}

.imgs {
  margin-top: 20px;
}

.imgs img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.aboutus {
height: 735px;
}

.aboutus_contents {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.aboutus_title {
  color: #666d89;
  font-size: 0.95rem;
  font-weight: bold;
}

.aboutus_info {
  color: #767e9e;
  font-size: 1.1rem;
}

.aboutus_columns {
  width: 960px;
}

.au_left {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.left_info h3 {
  color: #666d89;
  font-size: 1.3rem;
  font-weight: bold;
}

.left_info p {
  color: #767e9e;
  font-size: 0.75rem;
}

.left_media {
  margin-top: 20px;
}

.au_middle {
  float: left ;
  width: 300px;
  margin-right: 20px;
}

.middle_info h3 {
  color: #666d89;
  font-size: 1.3rem;
  font-weight: bold;
}

.middle_info p {
  color: #767e9e;
  font-size: 0.75rem;
}

.middle_media {
  margin-top: 20px;
}

.au_right {
  float: left;
  width: 300px;
}

.right_info h3 {
  color: #666d89;
  font-size: 1.3rem;
  font-weight: bold;
}

.right_info p {
  color: #767e9e;
  font-size: 0.75rem;
}

.right_media {
  margin-top: 20px;
}

.quote {
  background-color: #f16c65;
  height: 655px;
}

.quote_contents {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.quote_title {
  color: #f0d8d9;
  font-size: 0.95rem;
  font-weight: bold;
  padding-top: 65px;
}

.quote_info {
  color: #f0d8d9;
  padding-top: 2px;
}

.quote_fillin {
  width: 960px;
  margin-top: 50px;
  height: 390px;
}

.form {
  width: 610px;
  float: left;
}

.form textarea {
  width: 610px;
  background-color: #d6564f;
  color: #f48c8f;
  border-radius: 10px;
  margin-bottom:10px;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
  border: none;
}

textarea:last-child {
  height: 200px;
}

.contact_info {
  width: 300px;
  float: right;
}

.contact_info h3 {
  color: #f0d8d9;
  font-size: 1.3rem;
  font-weight: bold;
}

.contact_info p {
  color: #f0d8d9;
  font-size: 0.75rem;
}

.contact_details {
  width: 300px;
  float: right;
  margin-top: 30px;
}

.map {
  float: left;
  margin-top: 10px;
  width: 20px;
}

.map_info {
  color: #f0d8d9;
  font-size: 0.75rem;
  float: left;
  padding-left: 10px;
  width: 260px;
}

.phone {
  float: left;
  margin-top: 10px;
  width: 20px;
}

.phone_info {
  color: #f0d8d9;
  font-size: 0.75rem;
  float: left;
  padding-left: 10px;
  width: 260px;
}

.email {
  float: left;
  margin-top: 10px;
  width: 20px;
}

.email_info {
  color: #f0d8d9;
  font-size: 0.75rem;
  float: left;
  padding-left: 10px;
  width: 260px;
}




@media screen and (max-width: 610px) {
  body {
    background-color: green ;
  }
  .logo {
    float: none ;
    text-align: center ;
    padding-top: 20px ;
    margin-top: 0 ;
  }
  .links {
    float: none ;
    margin-top: 10px ;
    text-align: center ;
  }
}
